@model IEnumerable<Demo.Models.User>
<table class="table"  border="1" width="80%">
    <tr>
        <td width= "16%">
            @Html.DisplayNameFor(model => model.UserName)
        </td>
        <td width= "16%">
            @Html.DisplayNameFor(model => model.Address)
        </td>
        <td width= "16%">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </td>
        <td width= "16%">
            @Html.DisplayNameFor(model => model.UserEmail)
        </td>
        <td width= "16%">
            @Html.DisplayNameFor(model => model.Age)
        </td>
       
    </tr>
</table>
